$color1: #001db2;
$color2: #0455;
$color3: #f7f9fa;
$preto: #000000;
$color5: #fff;
$color6: #F8FAFB;
$color7: #FFFFFF;

$color-button-1: #344FA5;
$color-button-2: #6FCF97;

$color-border-1: #90A4AE;
$color-border-2: #F2F2F2;
$color-border-3: #eceff1;
$color-border-4:  #5c97d2;

$color-font-1: #162668;
$color-font-2:  #90a4ae;
$color-font-3:  #263238;
$color-font-4: #586069;