.profile__image {
    width: 120px;
    height: 120px;
    border-radius: 100%;
    border: 5px solid #eceff1;
    margin-top: 92px;
}

.profile__header {
    // justify-content: center;
    // margin: 0 auto;
    // background-color: rebeccapurple;
    // display:-moz-grid;
    display: grid;
    justify-items: center;
}

// .user-user{
//     justify-content: center;
//     display: grid;
// }

.profile__name {
    margin: 0 auto;
    // background-color: red;
    display: flex;
    align-items: center;
}

.profile-name {
    margin-left: 10px;
    // background-color: yellow;
    font-size: 16px;
    color: #90a4ae;
    line-height: 16px;
}

.profile-icon {
    // background-color: aqua;
}

.profile-login {
    font-size: 24px;
    color: #162668;
}

.profile__status {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    margin-top: 23px;
}

.profile__status__card {
    justify-items: center;
    display: grid;
    width: 100%;
}

.profile__status__name {
    font-size: 16px;
    color: #162668;
    font-weight: 600;
    line-height: 20px;
    margin-top: 5px;
}

.profile-status {
    margin-left: 7px;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    color: #162668;
    ;
}

.profile__tabs {
    margin: 20px auto;
    width: 1200px;
    .tabs__choose {
      margin-bottom: 0;
      li {
        display: inline-block;
        padding: 10px 20px;
        background-color: #eee;
        cursor: pointer;
        opacity: 0.3;
        &.active {
          opacity: 1;
        }
      }
    }
    .tabs__content {
      background-color: #eee;
      margin: 0 auto;
      padding: 20px;
    }
  }
