.users__header{
    display: inline;   
}

.users__header span{
    font-size: 18px;
}

.header-icon{
    margin-right: 15px;
}

.users__container{
    justify-items: center;
    display: grid;
}

.users__container .users-input{
    width: 273px;
    height: 35px;
    border: 1px solid; 
    border-radius: 5px;
    border-color: #90A4AE;
}


.users__image{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 5px solid #F2F2F2;
}

.users__cards{
    margin: 0 auto;
    display: flex;
    justify-content: first baseline;
    margin-left: 24px;
    align-items: center;
}

.user-name{
    margin-left: 72px;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    color: #162668;
    
}

.user-divider{
    border: 0.5px solid rgba(0, 0, 0, 0.5);
    width: 90%;
}

.users__group__container{
    margin-top: 50px;
}